@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    letter-spacing: .025rem;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    background-color: #ff7d27; /* Elevation Orange */
    display: flex;
    flex-direction: column;
    color: white; 
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: .75rem;
}

main {
    padding: 1rem;
    text-align: center;
}

.section {
    background-color: #EDEDED;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 100%;
    border-radius: 8px;
}

.accordion {
    background-color: #ff7d27; /* Elevation Orange */
    color: #ffffff;
    cursor: pointer;
    padding: .75rem;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.accordion.active, .accordion:hover {
    background-color: #e6681c;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content .images {
    text-align: center;
}

.accordion-content .images img {
    border: 4px solid #fff; /* Add a border around the image */
    border-radius: 5px; /* Slightly round the corners of the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow to the image */
    margin-bottom: .75rem; /* Add some space below the image */
}

.accordion-content .images .name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: .25rem;
    color: #333;
}

.accordion-content .images .description {
    font-size: .9em;
    margin-top: .15rem;
    color: #666;
}

/* Responsive adjustments for mobile */
@media (max-width: 600px) {
    header {
        padding: .5rem;
        line-height: 1;
    }

    .accordion {
        font-size: 1rem;
        padding: .5rem;
    }

    .accordion-content .images img {
        max-width: 100%;
        margin-bottom: 5px;
    }
}